/* overall */
body {
  margin: 1% auto 1% auto;
  padding: 1%;
  width: 750px;
  font-size: normal;
  font-family: arial;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    margin: 1% auto 1% auto;
    padding: 1%;
    width: 100%;
    font-size: normal;
    font-family: arial;
  }
}

h1 {
  font-size: large;
  color: darkblue;
  margin-bottom: 0px;
  padding-top: 1em;
}

h2 {
  font-size: large;
  font-style: italic;
  font-weight: normal;
  color: darkblue;
  margin-bottom: 0px;
  padding-top: 0px;
}

/* title block */
#header {
  border-bottom: 1px solid black;
}

#header h1 {
  font-size: large;
}

#header h2 {
  font-weight: normal;
  font-style: normal;
  margin-top: 0px;
  padding-top: 0px;
}

#header p {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: .25em;
  margin-bottom: 0px;
}

/* tight spacing after headers */
h1+p, h2+p, h1+h2, h1+ul, h2+ul, h1+.hang ul, h2+.hang ul  {
  padding-top: .5em;
  margin-top: 0px;
}

/* ... even with loose lists */
li p {
  margin-top: 0px;
  padding-top: 0px;
}

/* hanging indent */
.hang ul {
    list-style: none inside none; 
    padding-left: 1em;
    text-indent: -1em;
    margin-left: 0em; 
}

/* hanging indent list spacing */
/*li {
    padding-bottom: .5em;
} */
/* use loose lists for space, tight lists otherwise */